
.container {
  padding: 10px;
  margin-left: 10px;
  height: 100%;
  width: 100%;
}


.five-day {
  margin: 15px;
  padding-left: 15px;
}

.low {
  background-color: green; 
  color: white;
  border-radius: 15%;
  padding: 2px 8px;
  font-weight: bold;
}

.moderate {
  background-color: rgb(245, 245, 96);
  border-radius: 15%;
  padding: 2px 8px;
  font-weight: bold;
}

.high {
  background-color: orange;
  color: white;
  border-radius: 15%;
  padding: 2px 8px;
  font-weight: bold;
}

.very-high {
  background-color: red;
  color: white;
  border-radius: 15%;
  padding: 2px 8px;
  font-weight: bold;
}

.bg-light {
  padding-left: 20px;
}

.dayForecast {
  text-align: center;
}

